body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a1f7a1;
    font-family: 'Mulish', sans-serif;
}

.container {
    display: flex;
    
    border-radius: 10px;
    width: 800px;
    height: 600px;
}


.img {
    width: 400px;
    height: 600px;
    padding-right: 10px;
}

.right_side {
    display:flex;
    flex-direction: column;

}

.title {
    text-align: center;
    color: #14C2DD;
}

.contact_form {
    display: flex;
    padding: 10px;
    flex-direction: column;
}

input[type=text], select, textarea {
    width: 90%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical
}